/* You can add global styles to this file, and also import other style files */
$color-base-0: #000000;
$color-base-1: #FFFFFF;
$color-base-2: #e3e4e8;
$color-base-3: #bfc3c7;
$color-base-4: #7c8593;
$color-base-5: #5e6572;
$color-base-6: rgba(($color-base-0),
    0.8); //preto fontes
// Theme colors  ==========================
$color-highlight: #00AE9D;
$color-selection: #EBFFF4;
$color-theme-1: #003641;
$color-theme-2: #7DB61C; //#7472D2;//#49479D;
$color-theme-3: #C9D200;
$color-theme-4: #49479d;
// colors labels ==========================
$color-label: $color-base-1;
// Support colors ==========================
$color-info: #00a3cc;
$color-info-rgb: 0, 163, 204;
$color-success: #00CC66;
$color-success-rgb: 0, 204, 102;
$color-success-2: #63D995;
$color-warning: #f39c12;
$color-warning-rgb: 243, 156, 18;
$color-warning-2: #FFD762;
$color-danger: #EB5757;
$color-danger-rgb: 235, 86, 86;
$color-danger-2: #EF8C82;
