<header>
  <a href="#">
    <img src="assets/logo_sicoob.png" height="20" />
  </a>
  <div>
    <span>PONTO ELETRONICO</span>
    <span class="app-version"> | 1.0.0.0</span>
  </div>
</header>
<nav>asdfasdf</nav>
<aside>aside</aside>
<main>
  <div class="container-login border">
    <div>
      <label>
        Login
        <input placeholder="Login" />
      </label>

      <label>
        Login
        <input placeholder="Login" />
      </label>

      <button>Acessar</button>
    </div>
  </div>
</main>
<footer>footer</footer>
