@import './assets/scss/variables';

:root {
  --input-invalid: 255, 0, 0;
  --input: 191, 195, 199;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $color-base-3;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  /* Code for Firefox */
  background: $color-theme-4;
}

::selection {
  background: $color-theme-4;
}

// #001215
html,
body {
  // background-image: linear-gradient(#000000, $color-theme-1) ;
  background-color: #001215;
  height: 100vh;
  overflow: hidden;

}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}


input {
  border: none;
}

.border {
  border: 1px solid rgba($color-theme-1, .5);
  border-radius: 5px;
}


label {

  display: flex;
  flex-direction: column;
  gap: .5rem;

  &>input {
    background-color: $color-theme-1;
    padding: .5rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    @extend .border;

    &::placeholder {
      color: rgba($color-base-3, .3);
    }

    &:hover {
      border: 1px solid rgba(var(--input), .3);
    }

    &:focus {
      border: 1px solid rgba(var(--input), .3);
      outline: 5px solid rgba(var(--input), .1);
    }
  }
}


button {
  --button-font-color: 0, 0, 0;
  --button-color: 191, 195, 199;

  &[color="accent"] {
    --button-font-color: 191, 195, 199;
    --button-color: 73, 71, 157;
  }

  &[color="success"] {
    --button-font-color: 0, 0, 0;
    --button-color: 0, 204, 102;
  }

  &[color="warning"] {
    --button-font-color: 0, 0, 0;
    --button-color: 243, 156, 18;
  }

  &[color="danger"] {
    --button-font-color: 0, 0, 0;
    --button-color: 235, 87, 87;
  }

  &:disabled {
    --button-font-color: 0, 0, 0;
    --button-color: 191, 195, 199;
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgba(var(--button-color), 0.1);
    color: rgba(var(--button-color), 0.1);
    border: 1px solid rgb(var(--button-color), 0.1);
    user-select: none;
  }

  color: rgb(var(--button-color));
  padding: .5rem;
  background-color: rgba(var(--button-color), 0.2);
  border: 1px solid rgb(var(--button-color));
  border-radius: 2px;
  transition: all 500ms ease;
  cursor: pointer;

  &:hover {
    transition: all 500ms ease;
    background-color: rgba(var(--button-color), .7);
    color: rgb(var(--button-font-color));

    &:active {
      box-shadow: 0px 0px 10px -1px rgba(var(--button-color), 0.789);
    }
  }

  &:active {
    color: rgba(var(--button-font-color));
    background-color: rgba(var(--button-color), 1);
    background-size: 100%;
    transition: background 0s;
  }

}


